---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}


Teaching
======
**Teaching Assistant:**

Intermediate Microeconomics *(ARE 100B)*. University of California, Davis *(Spring and Fall Quarters)*, 2020
   * Spring TA Rating: [(4.3/5)](http://devinserfas.github.io/files/TA_Performance_Survey_ARE_100B_Spring_2020.pdf)
   * Fall TA Rating: [(4/5)](http://devinserfas.github.io/files/TA_Performance_Survey_ARE_100B_Fall_2020.pdf)
   
Grain and Livestock Marketing *(AREC 343)*. University of Saskatchewan, 2018

Principles of Sales *(AREC 346)*. University of Saskatchewan, 2017
